name: Test Windows
on:
  push:
    branches:
      - run-actions
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: write

jobs:
  configure-build-and-package-macos:
    runs-on: windows-2025
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Compile Tests
        run: |
          make out/test
        shell: bash

      - name: Run Tests
        run: |
          ./out/test
        shell: bash

